.card_container {
  width: 95%;
  margin: 0px auto;
  padding: 30px 0;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); */
  grid-gap: 20px;
  /* margin-right: 5%; */
}
.card_wrapper.card_gateway {
  border-left: 10px solid var(--color-orange);
  padding-left: 10px;
}
.card_wrapper.card_inventory {
  border-left: 10px solid var(--color-greyiesh);
}
.full--card_content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 25px;
}
.Progress_wrapper {
  padding: 20px 0 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
  grid-template-rows: 1fr;
  grid-gap: 15px;
}
.card_division {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 60px;
  padding-top: 20px;
}
.card_inr--divisn {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}
.card_inr--divisn img {
  width: 30px;
}
.card_inr--divisn i {
  color: var(--color-primary);
  font-size: 24px;
}
.card_inr--divisn p {
  font-size: 16px;
  color: var(--color-grey);
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.5;
}
/* carousel css */
.owl-dots {
  display: none;
}
.owl-carousel .owl-stage-outer {
  padding: 5px 0;
}
.card_container .owl-nav {
  position: absolute;
  top: 40%;
  right: -35px;
}
.owl-nav .owl-next span {
  color: var(--color-orange);
  font-size: 45px;
  cursor: pointer;
}
.owl-nav button.owl-next:focus {
  outline: 0;
}
.owl-nav .owl-prev {
  display: none;
}

/* doughnut */
.donut-inner {
  margin-top: -100px;
  margin-bottom: 100px;
}
.donut-inner h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
.donut-inner span {
  font-size: 12px;
}

/* media query css code */
@media screen and (max-width: 1640px) {
  .card_inr--divisn p {
    font-size: 13px;
  }
  .card_inr--divisn img {
    width: 26px;
  }
}
@media screen and (max-width: 1600px) {
  .card_inr--divisn {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 1540px) {
  .card_container {
    width: 98%;
  }
}
@media screen and (max-width: 1420px) {
  .Progress_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 20px 10px 0 0;
  }
  .card_container {
    grid-gap: 10px;
  }
  .full--card_content {
    padding: 25px 10px;
  }
}
@media screen and (max-width: 1340px) {
  full--card_content {
    padding: 25px 10px;
  }
}
@media screen and (max-width: 1220px) {
  .Progress_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
