.signIn {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 8fr 4fr;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.signin_left {
  border-right: 1px solid var(--color-gray);
  box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}
.signin_rght {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  /* height: 93vh; */
}
.signin_inr_rght {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.signin_inr_rght h4 {
  font-size: 21px;
  color: var(--color-primary);
  margin-bottom: 30px;
}
.signin_inr_rght input {
  border: 1px solid var(--color-silver);
  border-radius: 2px;
  background-color: var(--color-white) !important;
  padding: 10px;
  margin: 15px auto;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
}

::placeholder {
  color: #bebebe;
}
.signin_checkbox {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.signin_checkbox p {
  margin: 0;
  color: var(--color-primary);
  text-align: right;
}
.signin_checkbox span {
  font-size: 12px;
}
.signin_btn.ant-btn-primary {
  font-size: 15px;
  background-color: var(--color-primary);
  line-height: 16px;
  margin: 40px 0;
  width: 46%;
  letter-spacing: 1px;
  height: 45px;
  font-weight: 600;
  color: var(--color-white);
  border: 0;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.signin_btn.ant-btn-primary:hover,
.signin_btn.ant-btn-primary:focus {
  background: #40a9ff;
  border-color: #40a9ff;
  color: var(--color-white);
}
.signin_btn img {
  width: 15px;
  transform: rotate(180deg);
  float: right;
  filter: brightness(0) invert(1);
}
.signin_left img {
  width: 100%;
  height: 700px;
}

.signin_inr_rght .ant-checkbox-input {
  width: initial;
  margin-right: 10px;
}
