.clientHistoryTank_table {
  width: 99%;
  margin: 10px auto;
}
.clientHistoryTank_table .ant-card-head .ant-card-head-wrapper {
  border-bottom: 1px solid var(--color-fadedOrange);
  padding-bottom: 10px;
}
.clientHistoryTank_table .ant-card-small > .ant-card-head,
.clientHistoryTank_table .ant-card-small > .ant-card-body {
  padding: 0;
}
.clientHistoryTank_table .ant-card-extra {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.inputBox.client_table--dataSearch {
  border: 1px solid var(--color-primary);
  line-height: 45px;
  margin: 0;
  height: 50px;
}
.tank_img {
  width: 18px;
}
.vertrax_clientLayout .ant-card-bordered {
  border: 1px solid transparent;
}
.vertrax_clientLayout .ant-table-thead tr > th {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
.tank_alerts span {
  padding: 0 10px;
}
.ant-table-small .ant-table-thead > tr > th {
  background-color: transparent;
}
.vertrax_clientLayout .ant-table-small .ant-table-thead > tr > th:first-child {
  padding-left: 20px;
}
.vertrax_clientLayout .ant-table-column-sorter-up.active,
.vertrax_clientLayout .ant-table-column-sorter-down.active {
  color: var(--color-orange);
}
.vertrax_clientLayout .ant-table table {
  text-align: center;
  border-spacing: 0 5px;
}
.vertrax_clientLayout tr.ant-table-row {
  margin: 5px auto;
  background-color: var(--color-fadeGray);
}
.vertrax_clientLayout .ant-table-tbody > tr.ant-table-row:hover > td,
.vertrax_clientLayout .ant-table-tbody tr.ant-table-row > td.ant-table-cell {
  background: transparent;
}
.clientHistoryTank_table .ant-table.ant-table-small .ant-table-tbody > tr > td {
  padding: 14px 60px 14px 0;
  border-top: 0;
  border-bottom: 0;
  color: var(--color-eclipse);
  letter-spacing: 1.5px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}

.vertrax_clientLayout
  .ant-table.ant-table-small
  .ant-table-tbody
  > tr
  > td:first-child {
  padding-left: 30px;
}
.vertrax_clientLayout .ant-table.ant-table-bordered .ant-table-title,
.vertrax_clientLayout .ant-table-thead > tr > th {
  border-bottom: 0;
}
.vertrax_clientLayout
  .ant-table.ant-table-small
  .ant-table-tbody
  > tr
  > td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.vertrax_clientLayout
  .ant-table.ant-table-small
  .ant-table-tbody
  > tr
  > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.vertrax_clientLayout .ant-progress-inner {
  direction: rtl;
  border-radius: 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-lightgrey);
}
.vertrax_clientLayout .ant-progress-text {
  font-weight: 600;
  color: var(--color-eclipse);
}
i.marker {
  color: var(--color-primary);
  padding-left: 10px;
}
.card_wrapper.card_alertyellow {
  border-left: 10px solid var(--color-citrine);
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 0px 0px;
  width: 60%;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}
.card_wrapper.card_alertred {
  border-left: 10px solid var(--color-red);
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 0px 0px;
  width: 60%;
  text-align: left;
  margin: 0;
  display: inline-block;
  margin-bottom: 10px;
}
.card_wrapper.card_online {
  border-left: 10px solid var(--color-parrot);
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 0px 0px;
  width: 60%;
  text-align: left;
  margin: 0;
  display: inline-block;
  margin-bottom: 10px;
}
.card_wrapper.card_alertyellow .alerts,
.card_wrapper.card_alertred .alerts,
.card_wrapper.card_online .alerts {
  width: 100%;
  padding: 8px;
}
.alerts img {
  width: 14px;
}
.alerts p {
  display: inline;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 600;
}
/* popover */
.card_alertyellow.card_popover,
.card_alertred.card_popover,
.card_online.card_popover {
  width: 100%;
  margin-bottom: 10px;
}
.card_alertred.card_popover:last-child {
  margin-bottom: 0;
}
/* menu */
.tank_menu {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.tank_menu ul {
  text-decoration: none;
  list-style: none;
  margin: 10px auto;
  padding: 0 20px;
}
.tank_menu ul li {
  cursor: pointer;
}
.tank_menu i {
  width: 18px;
  color: var(--color-eclipse);
}
.tank_menu p {
  display: inline-block;
  color: var(--color-eclipse);
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding-left: 10px;
  margin-bottom: 5px;
}

/* pagination css */
.clientHistoryTank_table .pagination {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 20px auto;
}
.pagination li {
  display: inline-block;
  margin: 0 6px;
  border-radius: 2px;
  padding: 5px 9px;
  width: 36px;
  font-size: 14px;
  background-color: var(--color-lightgrey);
  border: 1px solid var(--color-lightgrey);
  color: var(--color-primary);
}
.pagination li:first-child,
.pagination li:nth-child(2),
.pagination li:last-child,
.pagination li:nth-child(8) {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.pagination li:first-child a,
.pagination li:nth-child(2) a,
.pagination li:last-child a,
.pagination li:nth-child(8) a {
  color: var(--color-white);
  font-size: 14px;
}
.clientHistoryTank_table .ant-table-pagination.ant-pagination {
  margin: 16px 0;
}
.clientHistoryTank_table .ant-table-pagination-left {
  float: none;
}
.clientHistoryTank_table .ant-table-pagination-center {
  text-align: center;
}
.clientHistoryTank_table .ant-table-pagination-right {
  float: none;
  text-align: center;
}
.clientHistoryTank_table .ant-pagination.mini .ant-pagination-item,
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-prev
  .ant-pagination-item-link,
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-next
  .ant-pagination-item-link {
  border-radius: 2px;
  margin: 0 6px;
  padding: 5px 9px;
  height: 36px;
  line-height: 25px;
}
.clientHistoryTank_table .ant-pagination.mini .ant-pagination-prev,
.clientHistoryTank_table .ant-pagination.mini .ant-pagination-next {
  height: 36px;
  height: 36px;
}
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-prev
  .ant-pagination-item-link,
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-next
  .ant-pagination-item-link {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.clientHistoryTank_table li.ant-pagination-prev .ant-pagination-item-link,
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-next
  .ant-pagination-item-link {
  color: var(--color-white);
  font-size: 14px;
}
.clientHistoryTank_table
  .ant-pagination.mini
  .ant-pagination-item:not(.ant-pagination-item-active) {
  font-size: 14px;
  background-color: var(--color-lightgrey);
  border: 1px solid var(--color-lightgrey);
  color: var(--color-primary);
}
.clientHistoryTank_table .ant-pagination.mini .ant-pagination-item {
  font-size: 14px;
}
.clientHistoryTank_table
  .ant-select-single.ant-select-sm:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 36px;
}
.clientHistoryTank_table
  .ant-select-single.ant-select-sm:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 30px;
}

.tank__loadmore.ant-btn.ant-btn-primary {
  background-color: var(--color-primary);
}

.history__filter--popover {
  width: 450px;
}
.history__filter--popover .ant-picker.ant-picker-range {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
}
.history__filter--popover .level_input {
  width: 100%;
  border: 1px solid #d9d9d9;
  height: 40px;
  border-radius: 4px;
}
/* popover css */
.history__filter--popover p {
  color: var(--color-primary);
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: bold;
}
.history__filter--popover
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
}
.history__filter--popover
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder,
.history__filter--popover
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 40px;
}
.select_gallonWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.history_filterBtn {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
/* media query */
@media screen and (max-width: 1560px) {
  .alerts p {
    font-size: 10px;
  }
}
