Button.ant-btn-lg.filter_inrbtn {
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  /* background-color: var(--color-brightGray); */
  color: var(--color-eclipse);
  border: 1px solid var(--color-silver);
  width: 100%;
  margin-bottom: 10px;
}
Button.ant-btn-lg.filter_inrbtn:last-child {
  margin-bottom: 0;
}
Button.ant-btn-lg.activeFiltersTab {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  border: 1px solid transparent;
}

Button.ant-btn-lg.activeFiltersTab:after {
  content: "";
  position: absolute;
  /* background-image: ; */
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}
